#
*/cirkits.ipynb

# uv virtual environment
.uv/

# Regular virtual environments (in case you used one)
.venv/
venv/
env/

# Pyenv version file
.python-version

# Bytecode and cache
__pycache__/
*.py[cod]

# OS junk
.DS_Store

# Editors
.vscode/
.idea/

# Testing/cache tools
.mypy_cache/
.pyright/
.hypothesis/
.tox/
coverage.*

# Elbow plotting in task 1
task-1/elbow_plot/
!task-1/elbow_plot/generate_elbow_plot_data.py
!task-1/elbow_plot/plot_elbow.py

#Task-1 data
task-1/data/
task-1/.ipynb_checkpoints/
task-1/results.txt
# Ignore all files and folders inside results_plots
task-1/results_plots/
task-1/logs/
task-1/results