#
*/cirkits.ipynb

# uv virtual environment
.uv/

# Regular virtual environments (in case you used one)
.venv/
venv/
env/

# Pyenv version file
.python-version

# Bytecode and cache
__pycache__/
*.py[cod]

# OS junk
.DS_Store

# Editors
.vscode/
.idea/

# Testing/cache tools
.mypy_cache/
.pyright/
.hypothesis/
.tox/
coverage.*

#Task-1 data
task-1/data/
task-1/.ipynb_checkpoints/
task-1/results.txt
# Ignore all files and folders inside results_plots
task-1/results_plots/
